@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --main-color: #4A98F7;
    --secondary-color: #5A6168;
    --red-color: #E02020;
    --green-color: #6DD400;
    --blue-color: #4A98F7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--main-color);
}

.container {
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 100%;
    max-width: 1050px;
}

section {
    background-color: #fff;
    border-radius: 8px;
}

.tools-board {
    width: 210px;
    padding: 15px 22px 0;
}

.tools-board .row {
    margin-bottom: 20px;
}

.row .options {
    list-style: none;
    margin: 10px 0 0 5px;
}

.row .options .option {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
/* change color on hover */
.option:is(:hover, .active) img {
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

/* .option span, .option label {} */
.option :where(span, label) {
    cursor: pointer;
    color: var(--secondary-color);
    padding-left: 10px;
}

.option:is(:hover, .active) :where(span, label) {
    color: var(--main-color);
}

.option #fill-color {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

#fill-color:checked ~ label {
    color: var(--main-color);
}

.option #size-slider {
    width: 100%;
    height: 5px;
    margin-top: 10px;
}

.colors .options {
    display: flex;
    justify-content: space-between;
}

.colors .option {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;
}

.colors .option:nth-child(1) {
    background-color: #fff;
    border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2) {
    background-color: #000;
}
.colors .option:nth-child(3) {
    background-color: var(--red-color);
}
.colors .option:nth-child(4) {
    background-color: var(--green-color);
}
.colors .option:nth-child(5) {
    background-color: var(--blue-color);
}

.colors .option.selected::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background-color: inherit;
    border-radius: inherit;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
    border-color: #ccc;
}

.option #color-picker {
    opacity: 0;
    cursor: pointer;
}

.buttons button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    background: none;
    padding: 11px 0;
    margin-bottom: 13px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.9rem;
}

.buttons .clear-canvas {
    color: #6C757D;
    border: 1px solid #6C757D;
    transition: all 0.2s ease;
}

.clear-canvas:hover {
    color: #fff;
    background-color: #6C757D;
}

.buttons .save-img {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.drawing-board {
    flex: 1;
}

.drawing-board canvas {
    width: 100%;
    height: 100%;
}